$default-font-color: #000;

@mixin mediaQuery($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: sans-serif;
    color: $default-font-color;
    width: 100%;
    min-height: 100%;
}

body {
    padding: 1rem;
    background-color: #75CC65;
}

.container {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    border-radius: 0.8rem;
    padding: 0.8rem;
    background-color: white;
    height: 95vh;
}

.container {
    @include mediaQuery(768px) {
        width: 70%;
    }

    @include mediaQuery(1024px) {
        width: 50%;
    }
}